:root {
    --lines-color:#D8D8D8;
    --btn-and-text-title-color: #0A3871;
    --text-color-results: #495057;
    --background-nav:rgb(50, 167, 229);
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem es = a 10px*/    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
    
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    max-width: 480px;
    margin: 0;
}    
ul {
    list-style: none;
}
    
a {
    text-decoration: none;
}
    
img {
    max-width: 100%;
    height: auto;
    display: block;
}
    
.section {
    padding: 32px 0 64px;
}
.container {
    max-width: 480px;
    margin-left: 24px;
    margin-right: 24px;
}
/* Header */
header{
    max-width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

/* Nav Hamburger */
.nav__line{
    background-color: var(--lines-color);
    position: absolute;
    bottom: 0;
    width: 75%;
    height: .4rem;
    border-radius: 2rem;
    z-index: -10;
}
.nav-hamburguer{
    display: block;
    cursor: pointer;
    position: absolute;
    left: 3rem;
    top: 2.5rem;
    transition:.2s;
    z-index: var(--z-fixed);
}

.nav-hamburguer > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color:var(--btn-and-text-title-color);
}
.nav-hamburguer > span:not(:last-child){
    margin-bottom: 7px;
}
.nav-hamburguer, .nav-hamburguer > span{
    transition: all .4s ease-in-out;
}
.nav-hamburguer.active{
    transition-delay: 0.5s;
    transform: rotate(45deg);
}
.nav-hamburguer.active > span:nth-child(2){
    width: 0;
}
.nav-hamburguer.active > span:nth-child(1),
.nav-hamburguer.active > span:nth-child(3){
    transition-delay: .4s;
}
.nav-hamburguer.active > span:nth-child(1),
.nav-hamburguer.active > span:nth-child(3){
    background-color: var(--lines-color);
}
.nav-hamburguer.active > span:nth-child(1) {
    transform: translateY(9px);
}
.nav-hamburguer.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}
.log-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    column-gap: 2rem;
}
.log-icon img{
    text-align: center;
    width: 50%;
}
.log-icon img:nth-child(1){
    width: 22%;
}
.log-icon img:last-of-type{
    width: 50%;
    padding-left: 1rem;
    border-left: .2rem solid var(--lines-color);    
}
.nav__menu{
    position: absolute;
    left: -300px;
    width: 60%;
    height: 100vh;
    background-color: var(--background-nav);
    transition: all 1s;
}
.nav__menu.active-mobile{
    left: 0;
    z-index: 100;
}
.nav__menu ul{
    max-width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8rem auto;
    padding: 0 0 0 2rem;
}
.nav__menu ul li a{
    color: var(--lines-color);
    font-size: 2rem;
    cursor: pointer;
}
.nav__menu ul li a span{
    margin-left: 1.3rem;
    font-size: 1.9rem;
}
/* main section, content and more */

.cod__container{
    max-width: 90%;
    padding: 0 2rem 1rem;
    margin: 0 auto;
    height: 100vh;
}
.cod__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cod__data-input{
    background-color: #495057;
    width: auto;
    height: 40%;
}
.cod__data-input .input-one{
    width: 100%;
    height: 100%;
    top: 0;
    border: none;
}


