:root {
    --lines-color:#D8D8D8;
    --btn-and-text-title-color: #0A3871;
    --text-color-results: #495057;
    --background-nav:rgb(50, 167, 229);
    --body-background: #E5E5E5;
    --white:#ffffff;
    --btn-color-copy: #FF6E31;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    /*========== font ==========*/
    --font:'Inter', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem es = a 10px*/    
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
    
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    max-width: 480px;
    margin: 0;
    background-color: var(--body-background);
    font-family: var(--font);
}    
ul {
    list-style: none;
}
    
a {
    text-decoration: none;
}
    
img {
    max-width: 100%;
    height: auto;
    display: block;
}    
.section {
    padding: 32px 0 64px;
}
.container {
    max-width: 480px;
    margin-left: 24px;
    margin-right: 24px;
}
.btn{
    display: block;
    height: 5rem;
    width: 90%;
    margin:1.5rem auto;
    border-radius: 2rem;
    border: 1px solid var(--btn-and-text-title-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    cursor: pointer;

}
/* Header */
header{
    max-width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

/* Nav Hamburger */
.nav__line{
    background-color: var(--lines-color);
    position: absolute;
    bottom: 0;
    width: 75%;
    height: .4rem;
    border-radius: 2rem;
    z-index: -10;
}
.nav-hamburguer{
    display: block;
    cursor: pointer;
    position: absolute;
    left: 3rem;
    top: 2.5rem;
    transition:.2s;
    z-index: var(--z-modal);
}

.nav-hamburguer > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color:var(--btn-and-text-title-color);
}
.nav-hamburguer > span:not(:last-child){
    margin-bottom: 7px;
}
.nav-hamburguer, .nav-hamburguer > span{
    transition: all .4s ease-in-out;
}
.nav-hamburguer.active{
    transition-delay: 0.5s;
    transform: rotate(45deg);
}
.nav-hamburguer.active > span:nth-child(2){
    width: 0;
}
.nav-hamburguer.active > span:nth-child(1),
.nav-hamburguer.active > span:nth-child(3){
    transition-delay: .4s;
}
.nav-hamburguer.active > span:nth-child(1),
.nav-hamburguer.active > span:nth-child(3){
    background-color: var(--lines-color);
}
.nav-hamburguer.active > span:nth-child(1) {
    transform: translateY(9px);
}
.nav-hamburguer.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}
.log-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    column-gap: 2rem;
}
.log-icon img{
    text-align: center;
    width: 50%;
}
.log-icon img:nth-child(1){
    width: 22%;
}
.log-icon img:last-of-type{
    width: 50%;
    padding-left: 1rem;
    border-left: .2rem solid var(--lines-color);    
}
.nav__menu{
    position: absolute;
    left: -300px;
    width: 60%;
    height: 100vh;
    background-color: var(--background-nav);
    transition: all 1s;
}
.nav__menu.active-mobile{
    left: 0;
    position: fixed;
    z-index: var(--z-modal);
}
.nav__menu ul{
    max-width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8rem auto;
    padding: 0 0 0 2rem;
}
.nav__menu ul li a{
    color: var(--lines-color);
    font-size: 2rem;
    cursor: pointer;
}
.nav__menu ul li a span{
    margin-left: 1.3rem;
    font-size: 1.9rem;
}
/* main section, content and more */

.cod__container{
    max-width: 90%;
    padding: 0 2rem 1rem;
    margin: 0 auto;
    height: 100vh;
}
.cod__content{
    height: 100%;
    display: grid;
    grid-template-rows:2fr .5fr 2fr;
}
.cod__data-input{
    width: auto;
    height: 40rem;
    margin: 0 auto 2rem;
}
.cod__data-input .input-one{
    width: 85%;
    height: 90%;
    margin: 2rem auto;
    display: block;
    text-align: center;
    border: none;
    color: var(--btn-and-text-title-color);
    font-weight: bold;
    font: bold;
    resize: none;
    vertical-align: text-top;
    font-size: 1.5rem;
    background-color: var(--body-background);
}
.cod__data-input .input-one:focus{
    outline: none;
}
.cod__data-input .labelOne{
    display: block;
    text-align: center;
    font-size: 2.2rem;
    color: var(--btn-and-text-title-color);
    font-weight: bold;
}
/* #inputOne::placeholder{
    padding-top: 30px;
    color: var(--btn-and-text-title-color);
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
}
#inputOne::file-selector-button{
    margin-top: 2rem;
} */
.btns__alert-text .uil-exclamation-circle{
    color: var(--btn-and-text-title-color);
    font-size: 2.5rem;
    margin-left: 1rem;
}
.btns__alert-text span{
    color: var(--text-color-results);
    font-size: 1.5rem;
}
.btns__content .btn:nth-child(1){
    background-color: var(--btn-and-text-title-color);
    color: white;
    font-size: 1.6rem;
}
.btns__content .btn:nth-child(2){
    background-color: white;
    color: var(--btn-and-text-title-color);
    font-size: 1.6rem;
}
/* Print result */
#print__box{
    background-color: var(--white);
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:3rem;
    box-shadow:0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    visibility: visible;
    z-index: -10;
}
#print__box.active-print{
    visibility: hidden;
    z-index: var(--z-tooltip);
}
#print__box h2{
    opacity: .8;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}
#print__box p{
    color: var(--text-color-results);
    font-size: 1.4rem;
    text-align: center;
}


/* Print result active*/
.cod_print{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: azure;
    height: 50rem;
    margin-top: 4rem;
    background-color: transparent;
}
.print__btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.print__btns.active-print{
    visibility: visible;
    z-index: var(--z-fixed);
}
#printContent{
    height: 30rem;
    border: none;
    font-size: 1.7rem;
    text-align: center;
    color: var(--text-color-results);
    resize: none;
    background-color: var(--body-background);
}
#printContent:focus{
    outline: none;
}
#printCopy{
    background-color: var(--btn-color-copy);
    color: var(--white);
    font-size: 1.7rem;
    border: none;
}
#printClean{
    width: 10rem;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--btn-and-text-title-color);
    display: block;
    margin: 0 auto;
    font-weight: bold;    
}

/* .cod_print{
    width: 90%;
    height: 15rem;
    display: grid;
    place-content: center;
    margin: 5rem auto 0;
    background-color: var(--white);
    text-align: center;
    border-radius: 1rem;
    padding: 2rem 1rem;
    box-shadow:0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    z-index: -10;
    position: relative;
} */
/*
.cod_print.active-print{
    height: 60rem;
    box-shadow: none;
    background-color: var(--body-background);
    z-index: 100;
} */
/* .cod_print label{
    width: 80%;
    margin: 0 auto;
}
.cod_print label h2{
    font-size:2rem;
    font-weight: 600;
    opacity: .8;
    
}
.cod_print label p{
    font-size: 1.6rem;
    color: var(--text-color-results);
}
#print__box.active-print{
    display: block;
    visibility: hidden;
}
.print__btns{
    display: none;
}
.print__btns.active-print{
    display: block;
} */
/* #printContent{
    background-color: var(--body-background);
    height: 25rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    border: none;
    font-size: 1.7rem;
    color: var(--text-color-results);
    resize: none;
}
.print__btns input{
    position: absolute;
    bottom: 0;
}
#printCopy{
    bottom: 3rem;
    margin-left: .8rem;
}
#printClean{
    right: 1rem;
    color: var(--btn-and-text-title-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
} */



